@charset "utf-8";

.main {
	margin: auto;
	width: 400px;
}

.box {
	width: 70px;
  	height: 35px; 
}

button {
  padding: 0;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border-color: #FFFFFF;
  border: 5px;
}

/* ボタンのスタイル */
.button {
  display: ;
  width: 50px;
  height: 25px;
  color: #FFFFFF;
}

button:active {
  border-color: #ff0000;
}
